/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#header {
    background-color: #fff;
    padding: 8px;
    position: sticky;
    top: 0;
}

#header a:first-child {
    background: none;
    margin-right: auto;
    padding: 0;
}

#header a {
    background-color: #e3e3e3;
    border-radius: 4px;
    margin-right: 10px;
    padding: 5px 10px;
}

#header a img {
    width: 140px;
}

#greeting {
    margin-right: 10px;
}

footer {
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    position: relative;
    top: auto;
    bottom: 0px;
}

footer a {
    color: #fff;
}

.posts-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

#content {
    min-height: 70vh;
    margin-bottom: 80px;
}

.posts-container ul li {
    flex-basis: 32.9%;
    flex-grow: 0;
    flex-shrink: 1;
    min-width: 400px;
}

.post-content div {
    flex-basis: 33.3%;
}

.post a {
    text-decoration: none;
}

.post-image {
    width: auto;
    height: auto;
}

.post-image img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
}

.small-avatar {
    width: 32px;
    height: 32px;
}

.post-comments {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 8px;
}

.post-comments input,
.post-comments textarea {
    background-color: #fff;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}

.add-post {
    margin-top: 20px;
}

.add-post-btn {
    padding: 5px 20px;
    background-color: rgb(93, 95, 95);
    color: #fff;
    border-radius: 4px;
}

@media screen and (max-width: 1024px) {
    .posts-container ul li {
        min-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #header {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #header a:first-child {
        flex-basis: 100%;
        flex-grow: 1;
        margin-bottom: 16px;
    }
    #header a:first-child img {
        margin-left: auto;
        margin-right: auto;
    }
}